# Do not directly collect fluentd's own logs to avoid infinite loops.
<match fluent.**>
  @type null
</match>
# input plugin that exports metrics
<source>
  @type prometheus
</source>
# input from tailing container log
<source>
  @type tail
  read_from_head true
  path /var/log/containers/{{ getenv "B2B_WEB_PATTERN" }}*.log
  exclude_path ["/var/log/containers/*POD*.log"]
  pos_file /var/log/fluentd-docker.pos
  time_format %Y-%m-%dT%H:%M:%S
  tag docker.*
  format json
</source>
<filter>
  @type grep
  regexp1 log ^\{"type":"\w+","time":"[TZ0-9\-:\.]+","status":\d{3},"resp_size":\d+,"req_size":\d+,"remote_ip":"\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}","path":"[a-z0-9\/]+","method":"(?:GET|POST|PATCH|PUT|DELETE)","duration":\d+\}$
  exclude1 log newrelic|file|gen_server|proc_lib|Parameters|Proccessing|Failed
</filter>
<filter>
  @type parser
  format json
  key_name log
</filter>
<filter>
  @type prometheus

  # common labels for all metrics
  <labels>
    type ${type}
    status ${status}
    path ${path}
    method ${method}
  </labels>

  <metric>
    name b2b_web_duration
    type gauge
    desc b2b web duration gauge
    key duration
  </metric>
  <metric>
    name b2b_web_req_size
    type gauge
    desc b2b web request size
    key req_size
  </metric>
  <metric>
    name b2b_web_resp_size
    type gauge
    desc b2b web response size
    key resp_size
  </metric>
</filter>
<match docker.var.log.containers.*.log>
  @type remote_syslog
  host logs4.papertrailapp.com
  port 16282
  tag b2b-web
</match>
